.App{
    font-family: Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    color: rgba(0, 153, 255);
    margin-top: 1px;
    margin-bottom: 2px;
}

.sub-header {
    color: rgb(201, 62, 203);   
    margin-top: 1px;
    margin-bottom: 1px;
}

.map-div {
    display: inline-grid; 
    margin-top: 3px;
  }

.map {
    margin: auto;
}

.slider {
    height: 9px;
    letter-spacing: 2.5px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.559);
    background-color: #ffffff96;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 0.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 0.5rem 0;
    transition: all 200ms ease-in-out;
    width: 18rem;
    cursor: grab;
}

.slider-thumb {
    color: rgb(0, 0, 0); 
    font-size: small;
    border-radius: 15px;
    background-color: #000000;
    border-color: #000000;
    height: 25px;
    line-height: 25px;
    width: 35px;
    text-align: center;
    color: #fff;
    cursor: grab;
    top: 0;
    bottom: 0;
}

.slider-arrow {
    margin-bottom: 0.8%;
}

.eclipse-label {
    letter-spacing: 2.5px;
    font-size: 1em;
    margin-top: 25px;
    margin-left: 5%;
    margin-bottom: 5px;
  }
  
  .eclipse-dropdown {
    font-size: .875rem;
    font-weight: 400;
    outline: transparent solid 2px;
    outline-offset: -2px;
    letter-spacing: 2.5px;
    cursor: pointer;
    font-size: 1em;
    height: 2.5rem;
    padding: 0 3rem 0 1rem;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #8d8d8d;
    background-color: #000000;
    color: #f4f4f4;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 5px;
    margin-left: 1%;
    margin-bottom: 4px;
  }